BACKEND_PORT=3000
FRONTEND_URL=http://localhost:3001
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGDATABASE=postgres
PGPASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
DEEPSEEK_API_KEY=
DOUBAO_API_KEY=
ZHI_PU_API_KEY=
AMAP_API_KEY=
BAIDU_MAP_API_KEY=
TENCENT_MAP_API_KEY=
TIANDITU_API_KEY=
FITBIT_CLIENT_ID=
FITBIT_CLIENT_SECRET=
TUYA_CLIENT_ID=
TUYA_CLIENT_SECRET=
